.payment {
    background-color: white;

    .payment_container {

        h1 {
            text-align: center;
            padding: 10px;
            font-weight: 400;
            background-color: rgb(234,237,237);
            border-bottom: 1px solid lightgrey;

            a {
                text-decoration: none;
                color: black;
            }
        }

        .payment_section {
            display: flex;
            padding: 20px;
            margin: 0 20px;
            border-bottom: 1px solid lightgrey; 

            .payment_title {
                flex: 0.2;
            }

            .payment_address {
                flex: 0.8;
            }

            .payment_items {
                flex: 0.8;
            }

            .payment_details {
                flex: 0.8;

                form {
                    max-width: 400px;

                    h3 {
                        padding-bottom: 20px;
                    }
                    
                    .payment_priceContainer {

                        button {
                            background: #2a2a2a;
                            border: 1px solid;
                            padding: 10px;
                            border-radius: 5px;
                            margin-top: 10px;
                            color: white;
                            cursor: pointer;
                            font-size: 0.8em;
                            width: 100%;
                        }

                        button:hover {
                            background: #111111;
                            border: 1px solid;
                            padding: 10px;
                            border-radius: 5px;
                            margin-top: 10px;
                            color: white;
                            cursor: pointer;
                            font-size: 0.8em;
                            width: 100%;
                        }
                    }
                }
            }
        }

    }

}