.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

    .checkoutProduct_image {
        object-fit: contain;
        width: 180px;
        height: 180px;
    }

    .checkoutProduct_info {
        padding-left: 20px;

        .checkoutProduct_title {
            font-size: 1.25em;
            font-weight: 800;
        }

        .checkoutProduct_rating {
            display: flex;
        }

        .checkoutProduct_button {
            background: #2a2a2a;
            border: 1px solid;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
            color: white;
            cursor: pointer;
            font-size: 0.8em;
        }

        .checkoutProduct_button:hover {
            background: #111111;
            border: 1px solid;
            padding: 10px;
            border-radius: 5px;
            margin-top: 10px;
            color: white;
            cursor: pointer;
        }
    }
}